@import url(styles/variables.css);
@import url(styles/root.css);
@import url(styles/links.css);
@import url(styles/education.css);
@import url(styles/footer.css);

.cv_main {
    max-inline-size: var(--base-width);
    margin-inline: auto;
    margin-bottom: 250px;
    background: #fff;
}

.cv_header__name {
    --font-size-ratio: 0.24;
    --font-size-min: 1rem;
    --font-size-var: calc(100vw * var(--font-size-ratio));
    --font-size-max: calc(var(--base-width) * var(--font-size-ratio));
    --font-size: clamp(
        var(--font-size-min),
        var(--font-size-var),
        var(--font-size-max)
    );
    font-size: var(--font-size);
    font-weight: 900;
    line-height: 1;
}

.cv_header_avatar {
    animation: avatar_rotate infinite 2s linear;
    height: 100%;
    width: 50vw;
}

.cv_header_avatar:hover {
    animation-play-state: paused;
}

@keyframes avatar_rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

p {
    max-width: 80%;
    margin-inline: 10%;
    font-weight: 500;
    font-size: 0.9em;
}

.project_header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.cv_header__menu {
    background: #ffffff88;
    position: fixed;
    bottom: 1rem;
    right: 5rem;
}

.cv_header {
    min-block-size: 100vh;
}

.cv_subtitle {
    padding-block-start: 2rem;
}

.link_icon::before {
    content: " ";
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    margin-inline-end: 0.2em;
}

.link_repo::before {
    background-image: url("img//icons.svg#repo");
}

.link_deploy::before {
    background-image: url("img//icons.svg#deploy");
}

.link_github::before {
    background-image: url("img//icons.svg#github");
}

img {
    max-width: 100%;
}

pre {
    font-size: 0.7rem;
}

.rss_logo {
    width: 6rem;
    height: auto;
}

.cv_list {
    list-style: none;
    line-height: 2;
    /* font-size: clamp(1.5rem; */
    text-transform: uppercase;
    font-weight: 600;
    padding-inline-start: 0;
    font-size: 0.8em;
}

.cv_list .cv_list {
    padding-inline-start: 2rem;
}

.cv_list_spaced {
    line-height: 3;
}

.cv_list_styled {
    list-style-type: "- ";
    padding-inline-start: 1em;
}

@media (min-width: 400px) {
    .cv_header_avatar {
        width: 25vh;
    }

    /*     .cv_header_content {
        flex-direction: row;
        justify-content: space-between;
    } */
}
